#index-banner {
    background-color: #639ab1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
#index-banner h1 {
    margin-top: 16px;
}

.github-commit {
    padding: 14px 0;
    height: 64px;
    line-height: 36px;
    background-color: #5c5757;
    color: #e6e6e6;
    font-size: .9rem;
}

#index-banner .header {
    color: #FFF;
}

#index-banner h1 {
    margin-top: 16px;
}

.header {
    color: #639ab1;
    font-weight: 300;
}

.section.no-pad-bot {
    padding-bottom: 0;
}

.promo i {
    margin: 40px 0;
    color: #639ab1;
    font-size: 7rem;
    display: block;
}

.card.promo{
    padding: 20px;
}

#sectionInfo{ 
    background-image: url("../images/spaceNew.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

#sectionLibre{ 
    background-image: url("../images/forestNew.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

#topShape {
    top: 95px;
    z-index: 2;
    margin-top: -21px;
}

#bottomShape {
    margin-bottom: -39px;
    top: -68px;
    z-index: 2;
}

#videoYoutube{
    width:100%;
    height:100%;
}

footer.page-footer {
    background-color: #639ab1;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}