<main>


<!-- SECTION BANNIERE -->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center-on-small-only" style="margin-top:80px;">Coming soon</h1>
    <img src="../images/logosuitVR3.png" alt="" class="responsive-img activator card-profile-image center">
    <div class="row center">
      <h4 class="header col s12 light center">An open hardware and open software project</h4>
    </div>
    <div class="row center">
      <a href="http://wiki.opensuitVR.com" id="download-button" class="btn-large waves-effect waves-light blue-color" >Make your own suit</a>
    </div>
    <div class="row center" style="margin-bottom:120px;"><a class="grey-text text-lighten-1" href="https://github.com/Dogfalo/materialize">alpha release v0.0.1</a></div>
    <div class="buysellads-header row center"></div>
    <br>
  </div>
  <div class="github-commit">
    <div class="container">
      <div class="commit">
        Latest Commit on Github:
        &nbsp;&nbsp;
        <a href="https://github.com/QuentinLaujac/OpenSuitVR.com/commit/d79462768ffd8c1b0b8ea75af255f7510cef1647" class="sha">d79462768ffd8c1b0b8ea75af255f7510cef1647</a>
        &nbsp;&nbsp;
        <span class="date">3 days ago</span>
        <a id="github-button" target="_blank" href="http://opensuitvr.com" style="margin-left:20px" class="btn right grey-text text-lighten-5 waves-effect waves-light hide-on-small-only blue-color">Github</a>
        <a id="github-button" target="_blank" href="http://wiki.opensuitvr.com" class="btn right grey-text text-lighten-5 waves-effect waves-light hide-on-small-only blue-color">Wiki</a>
      </div>
    </div>
  </div>
  <svg id="bottomShape" width="100%" height="130px" fill="#FFFFFF" viewBox="0 0 1366 90" preserveAspectRatio="none">
      <path d="m 0.274329,73.862183 1366,0 L 1366,9.3475355 900.35901,39.96681 -0.00563127,0.20494098 z" stroke-width="0" stroke-dasharray="none" stroke-miterlimit="4"></path>
  </svg>
</div>
<!-- FIN SECTION BANNIERE -->



<!-- SECTION VIDEO What is OSVR -->
<div class="section container" id="sectionWit" style="opacity: 0;">
  <div class="row">
    <h3 class="col s12 light center header">What is Open Suit VR ?</h3>
  </div>

  <!--   Promo Section   -->
  <div class="row" style="margin-bottom:100px;">
    <div class="video-container responsive-video z-depth-2" style="text-align:center">
      <iframe id="videoYoutube" src="https://www.youtube.com/embed/BWbSsQlaacA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- FIN SECTION VIDEO What is OSVR -->



<!-- SECTION description OSVR -->
<div class="section " id="sectionInfo" style="opacity: 0;">
  <svg id="topShape" width="100%" height="90px" fill="#FFFFFF" viewBox="0 0 1366 90" preserveAspectRatio="none">
      <path d="M 0.41421356,0.19566509 1366,0.05152333 1366,64.30153 550,26.30153 -0.03033009,73.726403" stroke-width="0" stroke-dasharray="none" stroke-miterlimit="4"></path>
  </svg>
  <div class="container">
    <div class="row ">
      <h3 class="col s12 light center header white-text">OpenSuitVR has been designed to immerse yourself in a virtual world</h3>
    </div>

    <!--   Promo Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="card center promo hoverable" style="padding:20px;">
          <i class="material-icons">flash_on</i>
          <p class="promo-caption">Power Full</p>
          <p class="light center">Over 25 motors are arranged on the combination and different sensors : pulse, temperature, position and breathing.</p>
          <br/><br/>
        </div>
      </div>

      <div class="col s12 m4 promo">
        <div class="card center promo hoverable">
          <i class="material-icons">airplay</i>
          <p class="promo-caption">High compatibility</p>
          <p class="light center">Developers can easily make OpenSuitVR compatible with their unity 3D games. Thanks to bluetooth technology, this suit can be used with all kind of smartphones in order to get the best mobile virtual reality experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card center promo hoverable">
          <i class="material-icons">group</i>
          <p class="promo-caption">User friendly</p>
          <p class="light center">OpenSuitVR doesn't need any installation. It's super easy to use and ergonomic for people from 9 to 99 years old.</p>
          <br/><br/><br/>
        </div>
      </div>
    </div>
  </div>
  <svg id="bottomShape" width="100%" height="90px" fill="#FFFFFF" viewBox="0 0 1366 90" preserveAspectRatio="none">
      <path d="m 0.274329,73.862183 1366,0 L 1366,9.3475355 900.35901,39.96681 -0.00563127,0.20494098 z" stroke-width="0" stroke-dasharray="none" stroke-miterlimit="4"></path>
  </svg>
</div>
<!-- FIN SECTION description OSVR -->




<!-- SECTION store application -->
<div class="section container" id="sectionMore" >
  <div class="row">
    <h3 class="col s12 light center header">OpenSuitVR is not only about virtual reality ...</h3>
   <div class="row">
       <ul id="sectionAplication" >
       <li style="opacity: 0;">
        <div class="col s12 m4">
          <div class="card center promo hoverable" style="padding:20px;">
            <img src="../images/moon.jpg" alt="" class="circle responsive-img">
            <p class="promo-caption">Never fall asleep</p>
            <p class="light center"> Many people drive several hours a day, why not wake them up by a small vibration when it is detected they fall asleep?</p>
          </div>
        </div>
        </li>

        <li style="opacity: 0;">
        <div class="col s12 m4">
          <div class="card center promo hoverable">
            <img src="../images/sport.jpg" alt="" class="circle responsive-img">
            <p class="promo-caption">Track sports activities</p>
            <p class="light center">We know smartwatch help people doing their sport but why not help them by adding other sensors and new kind of applications that can't be inserted in a small watch ?</p>
          </div>
        </div>
        </li>

        <li style="opacity: 0;">
        <div class="col s12 m4">
          <div class="card center promo hoverable">
            <img src="../images/posture.jpg" alt="" class="circle responsive-img">
            <p class="promo-caption">Bad posture</p>
            <p class="light center">We never realize soon enough that our posture is bad, why not let OpenSuitVR warn us?</p>
            <br/>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- FIN SESSION store application -->




<!-- SECTION projet libre -->
<div class="section " id="sectionLibre" style="opacity: 0;">
  <svg id="topShape" width="100%" height="90px" fill="#FFFFFF" viewBox="0 0 1366 90" preserveAspectRatio="none">
      <path d="M 0.41421356,0.19566509 1366,0.05152333 1366,64.30153 550,26.30153 -0.03033009,73.726403" stroke-width="0" stroke-dasharray="none" stroke-miterlimit="4"></path>
  </svg>
  <div class="container">
    <div class="row ">
      <h3 class="col s12 light center header white-text">OpenSuitVR is a free project (free of freedom) created by two french students</h3>
    </div>

    <!--   Promo Section   -->
    <div class="row">
      <div class="col s12 m4 push-m2">
        <div class="center promo" style="padding:20px;">
          <img src="../images/quentin_opt.png" alt="" class="circle responsive-img activator card-profile-image z-depth-2">
          <p class="promo-caption white-text">Quentin Laujac</p>
          <p class="light center white-text">Student at the university of Lille 1, Quentin is an insatiable and multifaceted person.  </p>
        </div>
      </div>

      <div class="col s12 m4 push-m2">
        <div class="center promo" style="padding:20px;">
          <img src="../images/benj_opt.jpg" alt="" class="circle responsive-img activator card-profile-image z-depth-2">
          <p class="promo-caption white-text">Benjamin Arezki</p>
          <p class="light center white-text">Student at the university of technology of Compiegne, Benjamin really enjoys participate to free software projects.</p>
        </div>
      </div>
    </div>
  </div>
  <svg id="bottomShape" width="100%" height="90px" fill="#FFFFFF" viewBox="0 0 1366 90" preserveAspectRatio="none">
      <path d="m 0.274329,73.862183 1366,0 L 1366,9.3475355 900.35901,39.96681 -0.00563127,0.20494098 z" stroke-width="0" stroke-dasharray="none" stroke-miterlimit="4"></path>
  </svg>
</div>
<!-- FIN SECTION projet libre -->



<!-- SECTION partenaire -->
<div class="section container" id="sectionPartenaire" style="opacity: 0;">
  <div class="row">
    <h3 class="col s12 light center header">They trust us</h3>
  </div>
   <ul id="soussectionPartenaire" >
    <li style="opacity: 0;">
       <div class="row " style="margin-top:80px;margin-bottom:80px;">
          <div class="col s12 s6 m6 l6 hoverable">
              <div style="padding:20px;">
                  <a href="http://www.citc-eurarfid.com/" target="_blank"><div class="material-placeholder"><img class="responsive-img" src="../images/citcLogo.jpg"></div></a>
              </div>
          </div>
          <div class="col s12 s6 m6 l6">
              <div>
                  <h4>  The Innovation Centre for Contactless Technologies (CITC EuraRFID)</h4>
              </div>
              <div>
                  <p style="text-align:justify;">
                    It is a non-profit organization located in Lille (Northern France). It was created in January 2009 and is supported by the Nord-Pas de Calais Regional Council, the French Government, the Metropole Européenne de Lille (MEL), and the European Union.
It is a centre for resources, experimentations and technical expertise in terms of identification, traceability, mobility and geolocation, which aims to develop an ecosystem specialized in the Internet of Things.
                  </p>
              </div>
          </div>
      </div>
    </li>
   <div class="divider"></div>
   <li style="opacity: 0;">
      <div class="row " style="margin-top:80px;margin-bottom:80px;">
          <div class="col s12 s6 m6 l6">
               <div>
                  <h4>Cluster for digital creativity & innovation</h4>
              </div>
              <div>
                  <p style="text-align:justify;">
                      La Plaine Images is a cluster gathering entities interested in digital creativity and everything that is connected to it, from cinema to video games.
              </div>
          </div>
          <div class="col s12 s6 m6 l6 hoverable">
              <div style="padding:20px;">
                  <a href="http://www.plaine-images.fr/" target="_blank"><div class="material-placeholder"><img class="responsive-img" style="margin-top: 12px;" src="../images/logoPlaineImage.png"></div></a>
              </div>
          </div>
      </div>
    </li>
  </ul>
</div>
<!-- FIN SECTION partenaire -->



</main>


<script type="text/javascript">
  $(document).ready(function(){

      var options = [
        {
          selector: '#sectionDonate',
          offset: 100,
          callback: 'Materialize.fadeInImage("#sectionDonate")'
        },
        {
          selector: '#soussectionPartenaire',
          offset: 400,
          callback: 'Materialize.showStaggeredList("#soussectionPartenaire")'
        },
        {
          selector: '#sectionAplication',
          offset: 400,
          callback: 'Materialize.showStaggeredList("#sectionAplication")'
        },
        {
          selector: '#sectionWit',
          offset: 400,
          callback: 'Materialize.fadeInImage("#sectionWit")'
        },
        {
          selector: '#sectionInfo',
          offset: 400,
          callback: 'Materialize.fadeInImage("#sectionInfo")'
        },
        {
          selector: '#sectionLibre',
          offset: 400,
          callback: 'Materialize.fadeInImage("#sectionLibre")'
        },
        {
          selector: '#sectionPartenaire',
          offset: 400,
          callback: 'Materialize.fadeInImage("#sectionPartenaire")'
        }
        ];

        Materialize.scrollFire(options);
  });
</script>
