<main>


<!-- SECTION BANNIERE -->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center-on-small-only" style="margin-top:80px;">Open Suit VR</h1>
    <img src="../images/logosuitVR3.png" alt="" class="responsive-img activator card-profile-image center">
    <div class="row center">
      <h4 class="header col s12 light center">An open hardware and open software project</h4>
    </div>
    <div class="row center">
      <a href="http://wiki.opensuitVR.com" id="download-button" class="btn-large waves-effect waves-light">Make your own suit</a>
    </div>
    <div class="row center" style="margin-bottom:120px;"><a class="grey-text text-lighten-1" href="https://github.com/Dogfalo/materialize">alpha release v0.0.1</a></div>
    <div class="buysellads-header row center"></div>
    <br>
  </div>
  <div class="github-commit">
    <div class="container">
      <div class="commit">
        Latest Commit on Github:
        &nbsp;&nbsp;
        <a href="https://github.com/Dogfalo/materialize/commit/af1618ff7049e36a03374c78fd05a25b6e0d549e" class="sha">af1618ff7049e36a03374c78fd05a25b6e0d549e</a>
        &nbsp;&nbsp;
        <span class="date">3 days ago</span>
        <a id="github-button" href="https://github.com/Dogfalo/materialize" style="margin-left:20px" class="btn right grey-text text-lighten-5 waves-effect waves-light hide-on-small-only">Github</a>
        <a id="github-button" href="https://github.com/Dogfalo/materialize" class="btn right grey-text text-lighten-5 waves-effect waves-light hide-on-small-only">Wiki</a>
      </div>
    </div>
  </div>
  <svg id="bottomShape" width="100%" height="130px" fill="#FFFFFF" viewBox="0 0 1366 90" preserveAspectRatio="none">
      <path d="m 0.274329,73.862183 1366,0 L 1366,9.3475355 900.35901,39.96681 -0.00563127,0.20494098 z" stroke-width="0" stroke-dasharray="none" stroke-miterlimit="4"></path>
  </svg>
</div>
<!-- FIN SECTION BANNIERE -->



<!-- SECTION VIDEO What is OSVR -->
<div class="section container" id="sectionWit" style="opacity: 0;">
  <div class="row">
    <h3 class="col s12 light center header">What is Open Suit VR ?</h3>
  </div>

  <!--   Promo Section   -->
  <div class="row" style="margin-bottom:100px;">
    <div class="video-container responsive-video z-depth-2" style="text-align:center">
      <iframe id="videoYoutube" src="https://www.youtube.com/embed/BWbSsQlaacA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>  
</div>
<!-- FIN SECTION VIDEO What is OSVR -->
  


<!-- SECTION description OSVR -->
<div class="section " id="sectionInfo" style="opacity: 0;">
  <svg id="topShape" width="100%" height="90px" fill="#FFFFFF" viewBox="0 0 1366 90" preserveAspectRatio="none">
      <path d="M 0.41421356,0.19566509 1366,0.05152333 1366,64.30153 550,26.30153 -0.03033009,73.726403" stroke-width="0" stroke-dasharray="none" stroke-miterlimit="4"></path>
  </svg>
  <div class="container">
    <div class="row ">
      <h3 class="col s12 light center header white-text">Open Suit VR est conçu pour vous plonger dans un monde virtuel</h3>
    </div>

    <!--   Promo Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="card center promo hoverable" style="padding:20px;">
          <i class="material-icons">flash_on</i>
          <p class="promo-caption">Power Full</p>
          <p class="light center">Plus de 25 vibro moteurs, sont disposés sur la combinaison ainsi que des capteurs cardiaques, de temperature, de position et de respiration. De plus des LED RGB y sont uniformement disposées.</p>
        </div>
      </div>

      <div class="col s12 m4 promo">
        <div class="card center promo hoverable">
          <i class="material-icons">android</i>
          <p class="promo-caption">Haute compatibilité</p>
          <p class="light center">Compatible Unity3D.les developpeurs peuvent ainsi integrer la solution pour leurs jeux videos. De plus la combinaison est appairable par bluetooth permettant une compatibilité avec les smartphones.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card center promo hoverable">
          <i class="material-icons">group</i>
          <p class="promo-caption">User friendly</p>
          <p class="light center">La combinaison et les applications liées sont ergonomique et permettent une utilisation pour tout type d'utilisateur, allant du débutant à l'experimenté. La combinaison ne nécessite pas d'installation.</p>
        </div>
      </div>
    </div>
  </div>
  <svg id="bottomShape" width="100%" height="90px" fill="#FFFFFF" viewBox="0 0 1366 90" preserveAspectRatio="none">
      <path d="m 0.274329,73.862183 1366,0 L 1366,9.3475355 900.35901,39.96681 -0.00563127,0.20494098 z" stroke-width="0" stroke-dasharray="none" stroke-miterlimit="4"></path>
  </svg>
</div>
<!-- FIN SECTION description OSVR -->




<!-- SECTION store application -->
<div class="section container" id="sectionMore" >
  <div class="row">
    <h3 class="col s12 light center header">Et plus encore gâce au store d'applications</h3>
   <div class="row">
       <ul id="sectionAplication" >
       <li style="opacity: 0;">
        <div class="col s12 m4">
          <div class="card center promo hoverable" style="padding:20px;">
            <img src="../images/moon.jpg" alt="" class="circle responsive-img">
            <p class="promo-caption">Drive sleeping</p>
            <p class="light center">Est une application que l'on peut telecharger sur la combinaison pour prevenir de la somnolence au volant. via de petite impulsion elle empeche l'endormissement du conducteur</p>
          </div>
        </div>
        </li>

        <li style="opacity: 0;">
        <div class="col s12 m4">
          <div class="card center promo hoverable">
            <img src="../images/sport.jpg" alt="" class="circle responsive-img">
            <p class="promo-caption">Track sports activities</p>
            <p class="light center">By utilizing elements and principles of Material Design. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>
        </li>

        <li style="opacity: 0;">
        <div class="col s12 m4">
          <div class="card center promo hoverable">
            <img src="../images/posture.jpg" alt="" class="circle responsive-img">
            <p class="promo-caption">Mauvaises postures</p>
            <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started. feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- FIN SESSION store application -->




<!-- SECTION projet libre -->
<div class="section " id="sectionLibre" style="opacity: 0;">
  <svg id="topShape" width="100%" height="90px" fill="#FFFFFF" viewBox="0 0 1366 90" preserveAspectRatio="none">
      <path d="M 0.41421356,0.19566509 1366,0.05152333 1366,64.30153 550,26.30153 -0.03033009,73.726403" stroke-width="0" stroke-dasharray="none" stroke-miterlimit="4"></path>
  </svg>
  <div class="container">
    <div class="row ">
      <h3 class="col s12 light center header white-text">Open Suit VR est un projet libre, créé par deux étudiants</h3>
    </div>

    <!--   Promo Section   -->
    <div class="row">
      <div class="col s12 m4 push-m2">
        <div class="center promo" style="padding:20px;">
          <img src="../images/quentin_opt.png" alt="" class="circle responsive-img activator card-profile-image z-depth-2">
          <p class="promo-caption white-text">Quentin Laujac</p>
          <p class="light center white-text">Etudiant à l'unniversité de Lille 1, Quentin a une compétence profonde des diffèrentes technologies web et mobile mais également Hardware.</p>
        </div>
      </div>

      <div class="col s12 m4 push-m2">
        <div class="center promo" style="padding:20px;">
          <img src="../images/benj_opt.jpg" alt="" class="circle responsive-img activator card-profile-image z-depth-2">
          <p class="promo-caption white-text">Benjamin Arezki</p>
          <p class="light center white-text">Etudiant à l'unniversité de technologies de Compiègne, Benjamin a une expertise en système et réseau.</p>
        </div>
      </div>
    </div>
  </div>
  <svg id="bottomShape" width="100%" height="90px" fill="#FFFFFF" viewBox="0 0 1366 90" preserveAspectRatio="none">
      <path d="m 0.274329,73.862183 1366,0 L 1366,9.3475355 900.35901,39.96681 -0.00563127,0.20494098 z" stroke-width="0" stroke-dasharray="none" stroke-miterlimit="4"></path>
  </svg>
</div>
<!-- FIN SECTION projet libre -->



<!-- SECTION partenaire -->
<div class="section container" id="sectionPartenaire" style="opacity: 0;">
  <div class="row">
    <h3 class="col s12 light center header">Plusieurs associations croient en ce projet</h3>
  </div>
   <ul id="soussectionPartenaire" >
    <li style="opacity: 0;">
       <div class="row " style="margin-top:80px;margin-bottom:80px;">
          <div class="col s12 s6 m6 l6">
              <div class="">
                  <a href="#!"><div class="material-placeholder"><img class="responsive-img" src="../images/citcLogo.jpg"></div></a>
              </div>
          </div>
          <div class="col s12 s6 m6 l6">
              <div>
                  <h4>Centre d'innovation des technologies sans contact</h4>
              </div>
              <div>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante tortor, ornare et interdum ac, cursus ac ipsum. Donec sit amet velit turpis. Aenean viverra turpis ut magna posuere ultricies. Duis auctor sed tellus quis eleifend. Duis pharetra metus molestie, dapibus lorem sollicitudin, efficitur lacus.
                  </p>
              </div>
          </div>
      </div>
    </li>
   <div class="divider"></div>
   <li style="opacity: 0;">
      <div class="row " style="margin-top:80px;margin-bottom:80px;">
          <div class="col s12 s6 m6 l6">
               <div>
                  <h4>Cluster for digital creativity & innovation</h4>
              </div>
              <div>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante tortor, ornare et interdum ac, cursus ac ipsum. Donec sit amet velit turpis. Aenean viverra turpis ut magna posuere ultricies. Duis auctor sed tellus quis eleifend. Duis pharetra metus molestie, dapibus lorem sollicitudin, efficitur lacus.
                  </p>
              </div>
          </div>
          <div class="col s12 s6 m6 l6">
              <div class="">
                  <a href="#!"><div class="material-placeholder"><img class="responsive-img" style="margin-top: 12px;" src="../images/logoPlaineImage.png"></div></a>
              </div>
          </div>
      </div>
    </li>
  </ul>
</div>
<!-- FIN SECTION partenaire -->



</main>


<script type="text/javascript">
  $(document).ready(function(){

      var options = [ 
        {
          selector: '#sectionDonate',
          offset: 100,
          callback: 'Materialize.fadeInImage("#sectionDonate")' 
        }, 
        {
          selector: '#soussectionPartenaire',
          offset: 400,
          callback: 'Materialize.showStaggeredList("#soussectionPartenaire")' 
        }, 
        {
          selector: '#sectionAplication',
          offset: 400,
          callback: 'Materialize.showStaggeredList("#sectionAplication")' 
        }, 
        {
          selector: '#sectionWit',
          offset: 400,
          callback: 'Materialize.fadeInImage("#sectionWit")' 
        },
        {
          selector: '#sectionInfo',
          offset: 400,
          callback: 'Materialize.fadeInImage("#sectionInfo")' 
        },
        {
          selector: '#sectionLibre',
          offset: 400,
          callback: 'Materialize.fadeInImage("#sectionLibre")' 
        },
        {
          selector: '#sectionPartenaire',
          offset: 400,
          callback: 'Materialize.fadeInImage("#sectionPartenaire")' 
        }
        ];

        Materialize.scrollFire(options);
  });
</script>